.foods {
    float: left;
    width: 90%;
    margin: 20px 5%;
    position: relative;
}
.foods .food {
    float: left;
    width: 45%;
    position: relative;
    margin: 2.5%;
}
.food .thumb {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    float: left;
}

.food .thumb img {
    float: left;
    width: 120%;
}
.food .description {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
    padding: 20px;
    transition: 1s all;
    display: none;
    font-size: 1.2em;
    line-height: 30px;
}
.foods .food .thumb:hover .description {
    display: block;
}
.food .title {
    float: left;
    width: 100%;
    text-align: left;
    padding: 15px 0;
    
}
.food .title a {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    transition: 0.4s all;
}
.food .title a:hover {
    color: #FF7055;
}
.food .body {
    float: left;
    width: 100%;
    text-align: left;
    border-top: 1px solid #DCD9C9;
    border-bottom: 1px solid #DCD9C9;
    padding: 20px 0;

}
.food .body .price {
    float: left;
    font-weight: bolder;
}
.food .body .rate {
    float: right;
}
.food .body .rate img {
    margin: 0 2px;
}
.about {
    width: 90%;
    margin: 20px 5%;
    float: left;
}
.about p {
    width: 30%;
    display:block;
    text-align: left;
    font-size: 1.1em;
    float: left;
    margin: 0 1.5%;   
    line-height: 30px;
    text-align: justify;
}
.about p:first-child::first-letter {
    float: left;
    font-size: 5em;
}

.slider {
    float: left;
    width: 95%;
    margin: 30px 2.5%;
}
.slider .slide {
    float: left;
    width: 22%;
    margin: 0 1%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.slide .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: rgba(0,0,0,0.8);
    box-shadow: -20px -20px 50px rgba(0,0,0,0.8), 20px -20px 50px rgba(0,0,0,0.8);
    font-size: 2em;
    font-family: aclonica;
    padding: 50px 0;
    display: block;
    text-transform: uppercase;
}
.slider .slide:nth-child(even) {
    width: 50%;
}
.slider .slide img {
    float: left;
    height: 100%;
}
